<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="LoggingBundle">
            <directory>./src/*/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
